nav {
  display: inline;
  padding-bottom: 1rem;
}

nav a {
  padding: 0.25rem;
  border: 1px solid white;
}

header {
  background-color: #05c7f2;
  /* padding: 2vh 0vw 2vh 2vw;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout-link {
  text-decoration: none;
  /* padding: 10px;
  margin: 2.5%;
  right: 0; */
  color: white;
}

.login-link {
  text-decoration: none;
  /* padding: 10px;
  margin: 2.5%; */
  margin-right: 2rem;
  color: white;
}

.register-link {
  text-decoration: none;
  /* padding: 10px;
  margin: 2.5%; */
  color: white;
}

.logout-link:hover {
  color: #011f26;
}

.login-link:hover {
  color: #011f26;
}

.register-link:hover {
  color: #011f26;
}

.header-link {
  text-decoration: none;
  font-variant: small-caps;
  margin-right: 1rem;
}

.user-name {
  margin: 0px;
}
