nav {
  color: #011f26;
  display: inline;
}

header {
  background-color: #05c7f2;
  color: #011f26;
  /* padding: 2vh 0vw 2vh 2vw;
  margin: 0 auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logout-link {
  text-decoration: none;
  color: #011f26;
  /* padding: 10px;
  margin: 2.5%;
  right: 0; */
}

.login-link {
  text-decoration: none;
  color: #011f26;
  /* padding: 10px;
  margin: 2.5%; */
  margin-right: 5vw;
}

.register-link {
  text-decoration: none;
  color: #011f26;
  /* padding: 10px;
  margin: 2.5%; */
}

.header-link {
  color: #011f26;
  text-decoration: none;
  font-variant: small-caps;
  margin-right: 20vw;
}
